<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student Information</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <script src="/socket.io/socket.io.js"></script>
  <script src="/SocketIO-Script.js" defer></script>
  <style>
    /* Your existing styles here */

    /* Additional styling for new form fields */
    .w3-section label {
      font-weight: bold;
      color: #555;
      margin-top: 10px;
    }
    .w3-section input[type="text"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
      <h3 class="w3-padding-64"><b>BIIS</b></h3>
    </div>
    <div class="w3-bar-block">
      <a href="/admin" class="w3-bar-item w3-button w3-hover-white">Home</a> 
      <a href="/admin/add-student" class="w3-bar-item w3-button w3-hover-white">Add Student</a> 
      <a href="/admin/add-teacher" class="w3-bar-item w3-button w3-hover-white">Add teacher</a> 
      <a href="/admin/add-scholarship" class="w3-bar-item w3-button w3-hover-white">Add Scholarship</a> 
      <a href="/admin/new-dues" class="w3-bar-item w3-button w3-hover-white">New Dues</a>
      <a href="/admin/add-dues" class="w3-bar-item w3-button w3-hover-white">Add Dues</a> 
      <a href="/admin/clear-dues" class="w3-bar-item w3-button w3-hover-white">Clear Dues</a> 
      <a href="/admin/add-course" class="w3-bar-item w3-button w3-hover-white">Add Course</a> 
      <a href="/admin/assign-course-teacher" class="w3-bar-item w3-button w3-hover-white">Assign Course Teacher</a>
      <a href="/admin/registration-promoteStudents" class="w3-bar-item w3-button w3-hover-white">Registration & Promote Student</a>
      <a href="/admin/studentList" class="w3-bar-item w3-button w3-hover-white">StudentList</a>
      <a href="/admin/teacherList" class="w3-bar-item w3-button w3-hover-white">TeacherList</a>
      <a href="/admin/notification" class="w3-bar-item w3-button w3-hover-white">Notification</a>
  
    </div>
  </nav>





<div class="w3-main" style="margin-left:340px;margin-right:40px">
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Manually Add a teacher (course department and teacher department 
        must be same except for math department)</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <form action="./assign-course-teacher/assignTeacher1" method="POST">
      <div class="w3-section">
        <label>teacherID</label>
        <input class="w3-input w3-border" type="number" name="ID"  required>
      </div>
      <div class="w3-section">
        <label>CourseID</label>
        <input class="w3-input w3-border" type="text" name="PASSWORD" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Update Information</button>
    </form>  
  </div>
</div>

<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <div class="w3-container" id="contact" style="margin-top:75px">
      <h1 class="w3-xxxlarge w3-text-red"><b>Assign Teacher From CSV File[Format should be in(ID, Course Code, Grade)]</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">
      <form action="./assign-course-teacher/assignTeacher2" method="POST" enctype="multipart/form-data">
        <div class="w3-section">
            <label>Upload File</label>
            <input class="w3-input w3-border" type="file" name="File"  >
          </div>
        <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Update Information</button>
      </form>  
    </div>
  </div>

</body>
</html>
